
@{
    ViewBag.Title = "FormulaireTest";
}

<h2>FormulaireTest</h2>

<form>
    <div class="container">
        <div class="test-pt row ">
            <div class="test-pt col-4 " id="LabelNom">
                Name
            </div>
            <div class="test-pt col-8 ">
                <input type="text" name="name" />
            </div>
        </div>

        <div class="test-pt row saisie ">
            <div class="test-pt col-4 ">
                prenom
            </div>
            <div class="test-pt col-8 saisie">
                <input type="text" name="prenom" />
            </div>
        </div>

        <div class="test-pt row ">
            <div class="test-pt col-4 ">
                Date de naissance
            </div>
            <div class="test-pt col-8 saisie  ">
                <input type="date" id="start" name="trip-start"
                       value="2018-07-22">
            </div>
        </div>
        <div class="test-pt row ">
            <div class="test-pt col-4 ">
                check box
            </div>
            <div class="test-pt col-8 saisie">
                <input type="checkbox" id="scales" name="scales"
                       checked>
            </div>
        </div>


    </div>
</form>

